<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body background="http://www.funchap.com/wp-content/uploads/2015/08/nice-caribbean-beach-wallpaper-2015.jpg" style="background-size: cover;background-repeat:no-repeat;">
 	<div class="container">
    <div class="jumbotron text-center">
	<h3> <%= kunta %> </h3>
	<p> <%= temp %> </p>
    <div id="map"></div>
    <script>
	  function initMap() {
	  	// Järvien tiedot tulee yhtenä json muodossa näkyy consolista
	  	// sisältää ne mut en varma miten parsitaan vai pitäiskö
	  	// bäkkäristä suoraan lyödä 10 eri objektia
	  	var text = "<%= origcoords %>";
	  	var coords = text.split(",");
	  	var latitude = coords[0].substring(0,8);
	  	var longitude = coords[1].substring(0,8);
        var Tampere = {lat: parseFloat(latitude), lng: parseFloat(longitude)};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: Tampere
        });
		
		addMarker("<%= info0 %>", map);
		addMarker("<%= info1 %>", map);
		addMarker("<%= info2 %>", map);
		addMarker("<%= info3 %>", map);
		addMarker("<%= info4 %>", map);
		addMarker("<%= info5 %>", map);
		addMarker("<%= info6 %>", map);
		addMarker("<%= info7 %>", map);
		addMarker("<%= info8 %>", map);
		addMarker("<%= info9 %>", map);
		
				
      }
	  
	  
	  function addMarker(infoObjectString, map){
			var array = infoObjectString.split(",");
			var name = array[0];
			var lat1 = parseFloat(array[1]);
			var lng1=  parseFloat(array[2]);
			var coords = {lat: lat1, lng: lng1}
			var marker = new google.maps.Marker({
			  position: coords,
			  map: map,
			  title: name
			});
		}
	  
	  function changeFormValues(lat,lng){
		document.getElementById("lat").value = lat;
		document.getElementById("lng").value = lng;
		
	  }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoZzVrqqQ0q8gES2N10l4qzSZKHS3LXIw&callback=initMap">
    </script>
	<script>
	
	</script>
		<p> Lämpötila haettu lähimmästä kaupungista (<%= city %>)</p>
		<form action="/">
			<input type="submit" value="Uusi haku">
		</form>	
	</div>
	</div>
  </body>
</html>
